#Introduction {
    text-align: center;
    padding: 2vw 7vw 4vw 7vw;
    font-size: 25px;
    font-weight: bold;
    font-family: cursive;
}

#Shopping {
    text-align: center;
}

#Products {
    margin: 5vw;
}