.toplink {
    width: 100%;
    height: 25px;
    top: 0;
    position: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    background-color: #111111;
    border-style: hidden;
    border-color: #111111;
    border-width: 5px;
    overflow: auto;
}

.toplink a {
    float: left;
    width: 33.33%;
    text-align: center;
    padding: 5px 0;
    color: white;
    font-size: 15px;
}

.toplink a:hover {
    background-color: rgb(39, 0, 66);
}

#divpic {
    text-align: center;
    margin: 0px;
    padding: 40px 0 0 0;
    background-image: url('../../Images/view.jpeg');
    background-size: cover;
    z-index: 3;
}

.divmid1 {
    color: snow;
    text-align: center;
}

.socimg {
    border: 3px dotted;
    padding: 0px;
    background-color: lightgray;
    width: fit-content;
    display: inline-block;
}

#maid {
    color: lightgray;
}

#maid:hover {
    color: rgb(179, 195, 245);
}

details {
    font-style: inherit;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 25px;
    background-color: #222222;
    border-style: outset;
    display: inline-block;
    padding-left: 7%;
    z-index: 10;
}

details>summary {
    list-style-type: none;
}

details h3 {
    font-style: oblique;
}

.detailp {
    font-style: italic;
}

#footer1 {
    color: snow;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    bottom: 0px;
}

body {
    text-align: center;
    color: snow;
    background-position-y: 150px;
    margin: 0px;
    padding: 0px;
    background-color: #222222;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    background-image: url('../../Images/swimming1.jpeg');
}